.croft-slider {
   overflow: hidden;
   position: relative;
   height: 450px;
}

.croft-slide-list {
   display: flex;
   will-change: transform;
   transition: transform 1s ease;

   .croft-slide-wrap {
      overflow: hidden;
      box-sizing: border-box;
      display: flex;
      align-self: center;
      justify-content: center;
      
      .croft-slide {
         border: 2px solid lightgreen;
         overflow: hidden;
         box-sizing: border-box;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 5px;
      }
   }
}

.arrow {
   position: absolute;
   bottom: 0px;
   width: 40px;
   height: 40px;
   border: none;
   outline: none;
   cursor: pointer;

   &.arrow-left {
      background: url(../img/icon/chevron-left-solid.svg) center center no-repeat;
      left: 45%;
   }

   &.arrow-right {
      background: url(../img/icon/chevron-right-solid.svg) center center no-repeat;
      right: 45%;
   }
}

.play-button {
   border: none;
   outline: none;
   cursor: pointer;
   width: 30px;
   height: 30px;
   position: absolute;
   background: url(../img/icon/play-solid.svg) center center no-repeat;

   &.playon {
      background: url(../img/icon/pause-solid.svg) center center no-repeat;
   }
}