.croft-slider {
  overflow: hidden;
  position: relative;
}
.croft-slide-list {
  display: flex;
  will-change: transform;
  transition: transform 0.4s ease;
}
.croft-slide-list .croft-slide-wrap {
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-self: center;
  justify-content: center;
}
.croft-slide-list .croft-slide-wrap .croft-slide {
  border: 2px solid lightgreen;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.arrow {
  position: absolute;
  top: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
}
.arrow.arrow-left {
  background: url(../img/icon/chevron-left-solid.svg) center center no-repeat;
  left: 25px;
}
.arrow.arrow-right {
  background: url(../img/icon/chevron-right-solid.svg) center center no-repeat;
  right: 25px;
}
